<div class="Login" background="red">
  <div class="row">
      <form class="col s12" >
          <div class="input-field col s12">
            <input placeholder="Codigo" name="codigoTorneo" [(ngModel)]="datosTorneo.codigoTorneo" id="first_name" type="text" class="validate">
            <label for="codigo">CodigoTorneo</label>
          </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="password" [(ngModel)]="datosTorneo.nombreTorneo" id="nombreTorneo" type="text" class="validate" >
            <label for="name">Name torneo</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="Deporte" [(ngModel)]="datosTorneo.deporte" id="deporte" type="text" class="validate">
            <label for="tipo">Deporte</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="email" [(ngModel)]="datosTorneo.tipoTorneo" id="tipoTorneo" type="text" class="validate">
            <label for="tipo">Tipo torneo</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" (click)="updateTournament(datosTorneo)" name="action">Actualizar
        </button>
        <button class="btn waves-effect waves-light" (click)="createTournament($event)" name="action">Crear
          </button>
      </form>
    </div>
</div>

<div >
<table>
  <thead>
    <tr>
        <th>Nombre de torneo</th>
        <th>Codigo</th>
        <th>Tipo de torneo</th>
    </tr>
  </thead>

  <tbody >
    <tr *ngFor="let i of tournament">
      <td>{{i.nombreTorneo}}</td>
      <td>{{i.codigoTorneo}}</td>
      <td>{{i.tipoTorneo}}</td>
      <td><button (click)="deleteTournament(i.codigoTorneo)"><i>Borrar</i></button></td>
    </tr>
  </tbody>
</table>
</div>

