<div class="Login" background="red">
  <div class="row">
      <form class="col s12" >
          <div class="input-field col s6">
            <input placeholder="Codigo" name="identificacion" [(ngModel)]="datosCompetitor.identificacion" id="first_name" type="text" class="validate">
            <label for="codigo">Identificacion</label>
          </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="name" [(ngModel)]="datosCompetitor.nombreParticipante" id="nombreParticipante" type="text" class="validate">
            <label for="tipo">Nombre Participante</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" (click)="updateCompetitor(datosCompetitor)" name="action">Actualizar
        </button>
        <button class="btn waves-effect waves-light" (click)="createCompetitor($event)" name="action">Crear
          </button>
      </form>
    </div>
</div>

<div >
<table>
  <thead>
    <tr>
        <th>Nombre de torneo</th>
        <th>Codigo</th>
        <th>Tipo de torneo</th>
    </tr>
  </thead>

  <tbody >
    <tr *ngFor="let i of competitor">
      <td>{{i.identificacion}}</td>
      <td>{{i.nombreParticipante}}</td>
      <td><button (click)="deleteCompetitor(i.identificacion)"><i>Borrar</i></button></td>
    </tr>
  </tbody>
</table>
</div>

