<div class="Login" background="red">
    <div class="row">
        <form class="col s12" (submit)="addUsuario($event)">
            <div class="input-field col s6">
              <input placeholder="Nombre Usuario" name="usuario" [(ngModel)]="usuario" id="first_name" type="text" class="validate">
              <label for="first_name">Nombre Usuario</label>
            </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="password" [(ngModel)]="password" id="password" type="password" class="validate" >
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="email" [(ngModel)]="email" id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" (click)="updateUser($event)">Update
          </button>
          <button class="btn waves-effect waves-light" type="submit" name="action">Crear
            </button>
        </form>
      </div>
</div>

<div >
  <table>
    <thead>
      <tr>
          <th>Nombre de Usuario</th>
          <th>Contraseña</th>
          <th>Correo</th>
      </tr>
    </thead>

    <tbody >
      <tr *ngFor="let i of user">
        <td>{{i.nombreUsuario}}</td>
        <td>{{i.password}}</td>
        <td>{{i.email}}</td>
        <td><button onclick="mostrarDialogo()"><i>Update</i></button></td>
        <td><button (click)="deleteUser(i.nombreUsuario)"><i>Borrar</i></button></td>
      </tr>
    </tbody>
  </table>

</div>


<!--form action="" id="form" style="display: none;">
  <input>
  <input>
  <input>
  <button (click)="updateUser()"> Actualizar</button>
</form>

<script>
  var form = document.getElementById('form');
  function mostrarDialogo() {
    form.style.display = 'none';
  }
</script-->
